# Watch all nix files for changes
watch_file $(find . -name "*.nix" -printf '"%p" ')

# Watch the .env file for changes
watch_file .env

# VS Code is installed (on my system) in an FHS env, which prevents the `op` command from working
if [ "$TERM_PROGRAM" != "vscode" ] && [ command -v op ]; then
  # Load all the environment variables from 1Password into the current shell, as well as all the
  # normal non-secret environment variables from the .env file.
  direnv_load op run --env-file .env --no-masking -- direnv dump
else
  dotenv .env
  # Remove any assignments in the .env file which were 1Password secret references, because they
  # cannot be resolved in this execution context.
  for assign in $(env); do
    lhs=$(echo $assign | sed -e 's/=.*$//')
    rhs=$(echo $assign | sed -e 's/^[A-Za-z_][A-Za-z0-9_]*=//')
    if echo $rhs | grep -q '^op://'; then
      unset $lhs
    fi
  done
fi

use flake